<!DOCTYPE html>
<html LANG>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/form">
        <input type="number" name="n1" id="n1" placeholder="valor1"><br>
        <input type="number" name="n1" id="n1" placeholder="valor1"><br>
        <button type="submit">Enviar</button>
    </form>

</body>


</html>
